/* http://paletton.com/#uid=73m0u0ktdiLkqrOpwnyAIdfNY6X  */
/* https://coolors.co/51c2f6-e0e0e0-f4d06f-4f6d7a-274690 */
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	background-color: /*#013741*/ #f4f4f4;
	transition: background-color 0.5s;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", sans-serif !important;
}

body.dark {
	background-color: #2C2F33;
}

.bg-main {
	background-color: /*#042A37*/ #51c2f6;
}

.bg-hero {
	background-color: /*#337b88*/ #274690 !important;
}

.title-bar {
	margin-top: 1em;
	margin-bottom: -1em; 
	padding-bottom: 1em;
	padding-top: 0.5em;
	background-color: /*#337b88*/ #274690 !important;
	color: white;
}

.subtitle-bar {
	margin-bottom: -1em;
	padding-bottom: 1em;
	color: #4f6d7a;
	background-color: #fcfcfc;
}

.general-content {
	margin-right: 0.2em;
	margin-left: 0.12m;
	background-color: #fcfcfc;
	padding-bottom: 1em;
}

.text-hero {
	color: /*#337b88*/ #4f6d7a !important;
}

.custom-jumbo {
	margin-bottom: -2em !important;
}

.footer {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	
	margin-top: -1em;
}

.disclaimer {
	
}

.showcase-img {
	border-color: #51c2f6 !important;
	border-width: 0.5em;
}

.hero-hero-btn {
	background-color: #51c2f6 !important;
	border-color: #4f6d7a !important;
	margin-bottom: 0.2em;
	margin-right: 0.1em;
	margin-left: 0.1em;
	border-radius: 0 !important;
	color: black !important;
}

.hero-hero-btn:hover {
	background-color: #51c2f6 !important;
}

.hero-btn {
	background-color: #f4d06f !important;
	border-color: #4f6d7a !important;
	margin-bottom: 0.2em;
	margin-right: 0.1em;
	margin-left: 0.1em;
	border-radius: 0 !important;
	color: black !important;
}

.hero-btn:hover {
	background-color: #51c2f6 !important;
}

.hero-header {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: 0.1em;
	margin-right: 0.1em;
}

.hero-para {
	/*
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: 0.1em;
	margin-right: 0.1em;*/
	padding-top: 0.2em;
	padding-left: 0.2em;
	padding-right: 0.2em;
	color: #4f6d7a;
	background-color: #e0e0e0;
	height: 100%;
	width: 100%;
	text-align: center;
}

.nav-tab {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	transition: background-color 0.1s;
}

.nav-tab:hover {
	background-color: #274690 !important;
}

.navbar-custom {
	color: white !important;
}

.nav-tab-a {
	color: #ffffff !important;
}

.nav-tab-a:hover {

}

.small-gutter > [class*='col-']{
	padding-right: 0.1em;
	padding-left: 0.1em;
}

p.profile-desc {
	text-align: center;
	margin-bottom: 0.2em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	border: 0.1em solid #cecece;
	border-radius: 0.5em;
	min-height: 10em;
}

@media (max-width: 768px) {
	[class*='col-'] {
		margin-bottom: 0.2em;
	}
}

.profile-title {
	min-height: 2em;
	margin-bottom: 0.6em;
}