/* http://paletton.com/#uid=73m0u0ktdiLkqrOpwnyAIdfNY6X  */
/* https://coolors.co/51c2f6-e0e0e0-f4d06f-4f6d7a-274690 */

body {
	background-color: /*#013741*/ #f4f4f4;
	transition: background-color 0.5s;
}

body.dark {
	background-color: #2C2F33;
}

.bg-main {
	background-color: /*#042A37*/ #51c2f6;
}

.bg-hero {
	background-color: /*#337b88*/ #274690 !important;
}

.title-bar {
	margin-top: 1em;
	margin-bottom: -1em; 
	padding-bottom: 1em;
	padding-top: 0.5em;
	background-color: /*#337b88*/ #274690 !important;
	color: white;
}

.subtitle-bar {
	margin-bottom: -1em;
	padding-bottom: 1em;
	color: #4f6d7a;
	background-color: #fcfcfc;
}

.general-content {
	margin-right: 0.2em;
	margin-left: 0.2em;
	background-color: #fcfcfc;
	padding-bottom: 1em;
}

.text-hero {
	color: /*#337b88*/ #4f6d7a !important;
}

.custom-jumbo {
	margin-bottom: -2em !important;
}

.footer {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	
	margin-top: -1em;
}

.disclaimer {
	
}

.showcase-img {
	border-color: #51c2f6 !important;
	border-width: 0.5em;
}

.hero-hero-btn {
	background-color: #51c2f6 !important;
	border-color: #4f6d7a !important;
	margin-bottom: 0.2em;
	margin-right: 0.1em;
	margin-left: 0.1em;
	border-radius: 0 !important;
	color: black !important;
}

.hero-hero-btn:hover {
	background-color: #51c2f6 !important;
}

.hero-btn {
	background-color: #f4d06f !important;
	border-color: #4f6d7a !important;
	margin-bottom: 0.2em;
	margin-right: 0.1em;
	margin-left: 0.1em;
	border-radius: 0 !important;
	color: black !important;
}

.hero-btn:hover {
	background-color: #51c2f6 !important;
}

.hero-para {
	margin-bottom: 0.2em;
	margin-top: 0.2em;
	margin-left: 0.1em;
	margin-right: 0.1em;
	padding-top: 0.2em;
	color: #4f6d7a;
	background-color: #e0e0e0;
}